* {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 400;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: rgba(160, 160, 160, 0.6);
  padding: 1px 4px;
  border-radius: 4px;
}
